In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [3]:
#Loading of data
data = pd.read_csv('Churn_Modelling.csv')

In [4]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
## preprocessing of data
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [6]:
## encode categorical variable 
label_encoder_gender=LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [8]:
# one hot encoding 'geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
#getting the name of the features_name after the oneHot Encoding on 'Geography'

onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
# Combine one hot encoder columns with the original data
data = pd.concat([data.drop(['Geography'],axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [19]:
## saving the encoder and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [13]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [14]:
#splitting between the independent and dependent features

X=data.drop('Exited',axis=1)
y=data['Exited']

# train and test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
#Scale these features
scaler= StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [16]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [17]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [18]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [21]:
X_train.shape[1]

12

In [22]:
# Build Our Ann model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32,activation='relu'), ## HL2 
    Dense(1,activation='sigmoid') ## Output layer
])

WARNING:tensorflow:From d:\machineLearning\ANN_Classifier\ann_classifier\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [ ]:
import tensorflow
## can define like this if want to tune the internal params for the optimizer and losses
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryCrossentropy()
met=tensorflow.keras.metrics.Accuracy()
loss

In [25]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [28]:
## Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [29]:
## Setup for the early stopping
## patience is basically the number of epoochs the model should wait even after the flat moniotr (val_loss) reached
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [30]:
## Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\machineLearning\ANN_Classifier\ann_classifier\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\machineLearning\ANN_Classifier\ann_classifier\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8364 - val_loss: 0.3757 - val_accuracy: 0.8420
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8558 - val_loss: 0.3429 - val_accuracy: 0.8590
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8597 - val_loss: 0.3465 - val_accuracy: 0.8580
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8569 - val_loss: 0.3591 - val_accuracy: 0.8575
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3390 - accuracy: 0.8646 - val_loss: 0.3580 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8610 - val_loss: 0.3554 - val_accuracy: 0.8590
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8625 - val_loss: 0.3461 - val_accuracy: 0.8600
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8634 - val_loss: 0.3536 - val_accuracy: 0.8600
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3322 - accuracy: 0.8649 - val_loss: 0.3395 - val_accuracy: 0.8590
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8637 - val_loss: 0.3413 - val_accuracy: 0.8570
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3263 - accuracy: 0.8673 - val_loss: 0.3404 - val_accuracy: 0.8590
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8683 - val_loss: 0.3455 - val_accuracy: 0.8615
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3206 - accuracy: 0.8695 - val_loss: 0.3563 - val_accuracy: 0.8550
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8674 - val_loss: 0.3531 - val_accuracy: 0.8505
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3205 - accuracy: 0.8699 - val_loss: 0.3517 - val_accuracy: 0.8605
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3197 - accuracy: 0.8704 - val_loss: 0.3595 - val_accuracy: 0.8560
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3128 - accuracy: 0.8727 - val_loss: 0.3591 - val_accuracy: 0.8545
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3117 - accuracy: 0.8727 - val_loss: 0.3737 - val_accuracy: 0.8500
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3077 - accuracy: 0.8723 - val_loss: 0.3595 - val_accuracy: 0.8560

In [31]:
## saving model to an h5 file for later use or deployment
model.save('model.h5')

d:\machineLearning\ANN_Classifier\ann_classifier\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [33]:
%load_ext tensorboard
%tensorboard --logdir logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 34004), started 0:00:52 ago. (Use '!kill 34004' to kill it.)

In [ ]:
### Load the pickle file